* {
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-473 {
    margin-bottom: 473px;
}
.mt-20 {
    margin-top: 20px;
}
.step1 {
    display: flex;
    margin-top: 50px;
}
.logo {
    padding-top: 2px;
    padding-right: 12px;
}
.name {
    color: #FF1F3D;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}
#Tube {
    color: #252525;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}
.view {
    display: inline-flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.20);
}
.viewc {
    color: #252525;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}
.view:hover {
    cursor: pointer;
}
.pl {
    padding-left: 440px;
}
.Blog {
    padding: 10px 20px;
    gap: 10px;
    border-radius: 4px;
    background: #FF1F3D;
}
.Blogc {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}
.Blog:hover {
    cursor: pointer;
}
.pl2 {
    padding-left: 473px;
}
#vertical-line {
    width: 1320px;
    height: 1px;
    background: rgba(23, 23, 23, 0.20);
}
.step2 {
    justify-content: center;
    gap: 23.5px;
}
.All {
    display: inline-flex;
    height: 35px;
    padding: 5px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.15);}
.Allc {
    color: rgba(37, 37, 37, 0.70);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}
.All:hover {
    cursor: pointer;
}
.Music {
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.15);
}
.Musicc {
    color: rgba(37, 37, 37, 0.70);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.Music:hover {
    cursor: pointer;
}
.Comedy {
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FF1F3D;
}
.Comedyc {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.Comedyc:hover {
    cursor: pointer;
}
.Drawing {
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.15);
}
.Drawingc {
    color: rgba(37, 37, 37, 0.70);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.Drawing:hover {
    cursor: pointer;
}
.baner-cod {
    position: relative;
}
.time-text {
    position: absolute;
    bottom: 141px;
    left: 213px;
    display: inline-flex;
    padding: 4px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #171717;
}
.ttc {
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}
.id-logo-padding {
    padding-right: 12px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.caption1 {
    color: #171717;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
#Awlad {
    color: rgba(23, 23, 23, 0.70);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.step3 {
    gap: 24px;
}
